{% extends 'base.html' %}

{% block content %}
  <div id="app" class="container my-5">
    <div class="row">
      <div class="col-12">
        {% if user.is_authenticated %}
          <h1>Добро пожаловать, {{ user.first_name }}</h1>
          <form v-on:submit.prevent="addBookmark()">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="URL" v-model="newBookmark.url">
              <div class="input-group-append">
                <button class="btn btn-outline-success" type="submit">Добавить</button>
              </div>
            </div>
          </form>
          <h4 class="mb-3">Ваши закладки</h4>
          <div v-for="bookmark in bookmarks" class="card mb-2">
            <div class="card-body">
              <h5 class="card-title"><img class="mr-1" v-bind:src="[[ bookmark.favicon ]]" alt="" style="max-width: 16px;margin-top: -3px"> [[ bookmark.title ]]</h5>
              <h6 class="card-subtitle mb-2 text-muted">[[ bookmark.url ]]</h6>
              <p class="card-text">[[ bookmark.description ]]</p>
              <a class="btn btn-success btn-sm mr-1" v-bind:href="[[ bookmark.url ]]" target="_blank">Перейти</a>
              <button class="btn btn-secondary btn-sm mr-1" v-on:click="getBookmark(bookmark.id)">Редактировать</button>
              <button class="btn btn-danger btn-sm" v-on:click="deleteBookmark(bookmark.id)">Удалить</button>
            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="editBookmarkModal" tabindex="-1" role="dialog" aria-labelledby="editBookmarkModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <form v-on:submit.prevent="updateBookmark()">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Редактирование</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <label for="id_title" class="col-form-label">Загаловок:</label>
                      <input type="text" class="form-control" id="id_title" v-model="currentBookmark.title">
                    </div>
                    <div class="form-group">
                      <label for="id_description" class="col-form-label">Описание:</label>
                      <textarea class="form-control" id="id_description" v-model="currentBookmark.description"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="id_url" class="col-form-label">Ссылка:</label>
                      <input type="text" class="form-control" id="id_url" v-model="currentBookmark.url">
                    </div>
                    <div class="form-group">
                      <label for="id_favicon" class="col-form-label">Ссылка на иконку:</label>
                      <input type="text" class="form-control" id="id_favicon" v-model="currentBookmark.favicon">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        {% else %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {% if user.is_authenticated %}
    <script type="text/javascript">
      axios.defaults.xsrfCookieName = 'csrftoken';
      axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";

      new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
          bookmarks: [],
          newBookmark: { 'url': '' },
          currentBookmark: {},
          loading: false,
          message: null
        },
        mounted: function() {
          this.getBookmarks();
        },
        methods: {
          getBookmarks: function() {
            this.loading = true;
            axios.get('/api/bookmark/')
              .then((response) => {
                this.loading = false;
                this.bookmarks = response.data;
              })
              .catch((error) => {
                this.loading = false;
                console.log(error);
              })
          },
          getBookmark: function(id) {
            this.loading = true;
            axios.get(`/api/bookmark/${id}`)
              .then((response) => {
                this.loading = false;
                this.currentBookmark = response.data;
                $('#editBookmarkModal').modal('show');
              })
              .catch((error) => {
                this.loading = false;
                console.log(error);
              })
          },
          addBookmark: function() {
            this.loading = true;
            axios.post('/api/bookmark/', this.newBookmark)
              .then((response) => {
                this.loading = false;
                this.newBookmark.url = '';
                this.getBookmarks();
              })
              .catch((error) => {
                this.loading = false;
                console.log(error);
              })
          },
          updateBookmark: function() {
            this.loading = true;
            axios.put(`/api/bookmark/${this.currentBookmark.id}/`,
              this.currentBookmark)
              .then((response) => {
                this.loading = false;
                this.currentBookmark = response.data;
                $('#editBookmarkModal').modal('hide');
                this.getBookmarks();
              })
              .catch((error) => {
                this.loading = false;
                console.log(error);
              })
          },
          deleteBookmark: function(id) {
            this.loading = true;
            axios.delete(`/api/bookmark/${id}`)
              .then((response) => {
                this.loading = false;
                this.getBookmarks();
              })
              .catch((error) => {
                this.loading = false;
                console.log(error);
              })
          }
        }
      });
    </script>
  {% endif %}
{% endblock %}