{% extends 'base.html' %}

{% block content %}
  <div id="app" class="container my-5">
    <div class="row">
      <div class="col-12">
        {% if user.is_authenticated %}
          <h1>Добро пожаловать, {{ user.first_name }}</h1>
          <h4 class="mb-3">Ваши загладки</h4>
          <div v-for="bookmark in bookmarks" class="card mb-2">
            <div class="card-body">
              <h5 class="card-title">[[ bookmark.title ]]</h5>
              <h6 class="card-subtitle mb-2 text-muted">[[ bookmark.url ]]</h6>
              <p class="card-text">[[ bookmark.description ]]</p>
              <a href="#" class="card-link">Перейти</a>
              <a href="#" class="card-link">Редактировать</a>
              <a href="#" class="card-link">Удалить</a>
            </div>
          </div>
        {% else %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {% if user.is_authenticated %}
    <script type="text/javascript">
      axios.defaults.xsrfCookieName = 'csrftoken';
      axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";

      new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
          bookmarks: [],
          newBookmark: {
            'url': null
          },
          currentBookmark: {},
          loading: false,
          message: null
        },
        mounted: function() {
          this.getBookmarks();
        },
        methods: {
          getBookmarks: function() {
            this.loading = true;
            axios.get('/api/bookmark/')
              .then((response) => {
                this.loading = false;
                this.bookmarks = response.data;
              })
              .catch((error) => {
                this.loading = false;
                console.log(error);
              })
          },
          getBookmark: function(id) {
            this.loading = true;
            axios.get(`/api/bookmark/${id}`)
              .then((response) => {
                this.loading = false;
                this.currentBookmark = response.data;
              })
              .catch((error) => {
                this.loading = false;
                console.log(error);
              })
          },
          addBookmark: function() {
            this.loading = true;
            axios.post('/api/bookmark', this.newBookmark)
              .then((response) => {
                this.loading = false;
                this.getBookmarks();
              })
              .catch((error) => {
                this.loading = false;
                console.log(error);
              })
          },
          updateBookmark: function() {
            this.loading = true;
            axios.put(`/api/bookmark/${this.currentBookmark.id}`,
              this.currentBookmark)
              .then((response) => {
                this.loading = false;
                this.currentBookmark = response.data;
                this.getBookmarks();
              })
              .catch((error) => {
                this.loading = false;
                console.log(error);
              })
          },
          deleteBookmark: function(id) {
            this.loading = true;
            axios.delete(`/api/bookmark/${id}`)
              .then((response) => {
                this.loading = false;
                this.getBookmarks();
              })
              .catch((error) => {
                this.loading = false;
                console.log(error);
              })
          }
        }
      });
    </script>
  {% endif %}
{% endblock %}